.Board {
  width: 95%;
  height: 95%;
}

.Square {
  width: 73px;
  height: 73px;
  margin: 3px;
  border-radius: 5px;
  border: 1px solid green;
  align-items: center;
  float: left;
  -webkit-print-color-adjust: exact;
  -moz-print-color-adjust: exact;
  -ms-print-color-adjust: exact;
  print-color-adjust: exact;
}


.Square-0 {
  background-color: #DDEADF;
}

.Square-12 {
  background-color: #CCE8CF;
}

.title {
  text-align: center;
  display: block;
}